body{
    width: 100%;
    background-color: brown;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    /* font-size:1.2em;
    letter-spacing: 0.5px; */
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;
}

#calculator{
    /* padding: 20px; */
    border-radius:20px ;
    background-color: white;
    height: 420px;
}
h1{
    background-color: #1F030C;
    color: white;
    padding: 10px 100px;
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
}
label, input, option, select{
    /* padding-left: 20px; */
    margin-left: 20px;
}
button{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 15% auto;
    background: #AD133A;
    color: white;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 17px;
}
button:hover{
    background:#4c2827;
}
h2{
    text-align: center;
}









